@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap'); /** HEADERS **/
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap'); /** TEXT **/

/** OTHER STUFF **/

body {
    background-color: rgb(254, 239, 239);
}

body::-webkit-scrollbar {
  display: none;
}

/** #mainpageCharacters {
    position: absolute;
    left: 47%;
    top: 60%;
    width: 10%;
} **/

hr {
    border: 0;
    height: 1px;
    background: #000;
    opacity: 0.0;
}

/** MEDIA - MOBILE **/

@media screen and (max-width: 480px) {
    .homepageHeader {
        border-radius: 0 !important;
        border: none !important;

        padding-left: -100px !important;
    }
}

/** HEADER & WHATS INSIDE **/

.homepageHeader {
    background-color: rgb(255, 219, 219);

    border-radius: 250px;
    border: 10px solid #f48888;

    position: absolute;
    top: 25px;           
    left: 0;

    width: 96%;      
    margin-left: 25px;
}

.homepageName {
    font-size: 4vw;
    font-family: 'DynaPuff', cursive;
    color: rgb(244, 136, 136);

    margin-left: 90px;
}

.buttonTrue {
    background-color: #f48888;

    text-decoration: none;
    font-size: 16px;

    border-radius: 300px;
    border: 10px solid #feb8b8;

    position: absolute;
    padding: 10px 20px;
    
    box-shadow: 8px 8px 20px #ef6363;
}

.buttonFalse {
    background-color: #feb8b8;
    
    text-decoration: none;
    font-size: 16px;

    border-radius: 300px;
    border: 10px solid #f48888;

    position: absolute;
    padding: 10px 20px;

    box-shadow: 8px 8px 20px #ef6363;
}

#buttonmainPage {
    font-size: 30px;
    font-family: "Jua", sans-serif;
    text-align: center;
    text-decoration: none;

    width: 200px;
    height: 90px;
    
    position: absolute;
    top: 55px;
    left: 60%;
}

#buttonProject {
    font-size: 25px;
    font-family: "Jua", sans-serif;
    display: flex;
    align-items: center;

    width: 200px;
    height: 90px;

    position: absolute;
    top: 55px;
    left: 73%;
}

#buttonContact {
    font-size: 28px;
    font-family: "Jua", sans-serif;
    display: flex;
    align-items: center;

    width: 200px;
    height: 90px;

    position: absolute;
    top: 55px;
    left: 86%;
}

.headerLinks {
  text-decoration: none;

  color: rgb(255, 255, 255);
}

/** END OF HEADER & WHATS INSIDE **/

/** ------------------------------------------------**/

/** ABOUT ME **/

.aboutmeTitle {
    font-size: 90px;
    font-family: 'DynaPuff', cursive;
    color: rgb(244, 136, 136);

    padding-top: 100px;
    padding-left: 230px;
}

#aboutMe {
    margin-top: 200px;
    margin-left: 20px;

    padding-bottom: 50px;
}

#aboutmeLists {
    background-color: rgb(255, 219, 219);

    font-size: 35px;
    font-family: "Jua", sans-serif;
    color: #f48888;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 

    border-radius: 90px;
    border: 5px solid #f48888;
    width: 45%;
}

#ageClass, #aboutmeAnime, #aboutmeGames, #aboutmeOther, #skillsCoding, #comptiaList, #softskillsList, #aboutmeCoding, #aboutmeCompTIA, #aboutmeSoftSkills{
    list-style: none;
}

.aboutTitles {
    transform: translateX(25px);
}

#aboutmeList {
    text-align: center;
    list-style: none;

    transform: translateX(-50px);
}

/** END OF ABOUT ME**/

/** ------------------------------------------------**/

/** SKILLS **/

#mainpageSkills {
    position: relative;
    left: 51%;

    margin-top: -70.5%;
}

#mainpageskillsTitle {
    font-size: 90px;
    font-family: 'DynaPuff', cursive;
    color: rgb(244, 136, 136);

    padding-top: 100px;
    padding-left: 270px;
}

#mainpageskillsLists {
    background-color: rgb(255, 219, 219);

    font-size: 35px;
    font-family: "Jua", sans-serif;
    color: #f48888;

    border-radius: 90px;
    border: 5px solid #f48888;
    width: 45%;
}

#mainpageskillsList {
    text-align: center;
    list-style: none;

    transform: translateX(-60px);
}

.comptiaLinks, .codingLinks {
    color: rgb(250, 90, 90);
}

#linkDisclaimer {
    font-family: 'DynaPuff', cursive;
    font-size: 40px;
    color: rgb(244, 136, 136);
    text-align: center;

    position: absolute;
    bottom: -17%;
    padding-left: 7%;
}

/** END OF SKILLS **/