@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap'); /** HEADERS **/
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap'); /** TEXT **/

/** OTHER STUFF **/

body {
    background-color: rgb(254, 239, 239);
}

/** HEADER & WHATS INSIDE **/

.homepageHeader {
    background-color: rgb(255, 219, 219);

    border-radius: 250px;
    border: 10px solid #f48888;

    position: absolute;
    top: 25px;           
    left: 0;

    width: 96%;      
    margin-left: 25px;
}

.homepageName {
    font-size: 80px;
    font-family: 'DynaPuff', cursive;
    color: rgb(244, 136, 136);

    margin-left: 90px;
}

.buttonTrue {
    background-color: #f48888;

    text-decoration: none;
    font-size: 16px;

    border-radius: 300px;
    border: 10px solid #feb8b8;

    position: absolute;
    padding: 10px 20px;
    
    box-shadow: 8px 8px 20px #ef6363;
}

.buttonFalse {
    background-color: #feb8b8;
    
    text-decoration: none;
    font-size: 16px;

    border-radius: 300px;
    border: 10px solid #f48888;

    position: absolute;
    padding: 10px 20px;

    box-shadow: 8px 8px 20px #ef6363;
}

#buttonmainPage {
    font-size: 30px;
    font-family: "Jua", sans-serif;
    text-align: center;
    text-decoration: none;

    width: 200px;
    height: 90px;
    
    position: absolute;
    top: 55px;
    left: 60%;
}

#buttonProject {
    font-size: 25px;
    font-family: "Jua", sans-serif;
    display: flex;
    align-items: center;

    width: 200px;
    height: 90px;

    position: absolute;
    top: 55px;
    left: 73%;
}

#buttonContact {
    font-size: 28px;
    font-family: "Jua", sans-serif;
    display: flex;
    align-items: center;

    width: 200px;
    height: 90px;

    position: absolute;
    top: 55px;
    left: 86%;
}

.headerLinks {
  text-decoration: none;

  color: rgb(255, 255, 255);
}

/** END OF HEADER & WHATS INSIDE **/

/** ------------------------------------------------**/

/** PROJECTS **/

#projectsShare{
    background-color: #feb8b8, 0.3;

    border-radius: 3.5em;

    width: 500%;
    height: 300%;
}

.leftsideProjects {

}

.rightsideProjects {

}

/** END OF PROJECTS **/